:root {}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.p-color {
  color: #6351CE;
}

header.v1 .navbar {
  display: unset;
}

header.v1 nav a.nav-link {
  color: #fff;
  padding: 10px 20px !important;
  border-right: 1px solid #5a49ba;
}

header.v1 nav a.nav-link:first-child {
  border-left: 1px solid #5a49ba;
}

header.v1 nav a.nav-link.active,
header.v1 nav a.nav-link:hover {
  color: #fff !important;
  background-color: #1C2331;
}

header.v2 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #6351CE;
}

header.v2 .navbar-brand img {
  max-width: 180px;
}

header.v2 ul.navbar-nav {
  margin-right: 25px;
}

header.v2 nav a.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500 !important;
}

header.v2 nav a.nav-link.active {
  color: #6351CE;
  font-weight: 600 !important;
}

#dark-mode.form-check .form-check-input {
  float: unset !important;
  margin-top: 7px;
  margin-right: 7px;
}

footer a {
  text-decoration: none;
}

.btn {
  border-radius: 0 !important;
}

.btn-base {
  background-color: #6351CE !important;
  color: #fff !important;
  border-color: #6351CE !important;
}

.btn-base.active,
.btn-base:hover {
  background-color: #1C2331 !important;
  border-color: #1C2331 !important;
}

.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card {
  border-color: #f5f5f5 !important;
  box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
}

.card-text {
  font-size: 15px;
  color: #7a7a7a !important;
}

.form-section {
  padding: 30px;
}

.form-section .form-inner {
  width: 100%;
  padding: 50px;
  background: #fff;
}

.form-section a {
  text-decoration: none;
}

.form-section h3 {
  margin: 0 0 25px;
  font-size: 25px;
  font-weight: 600;
  color: #040404;
}

.form-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.form-section .social-list li {
  display: inline-block;
}

.form-section .social-list li a,
.form-section .social-list li button {
  margin: 1px;
  font-size: 14px;
  font-weight: 500;
  width: 110px;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  border: 0;
}

.form-section .google-bg button {
  background: #db4437;
}

.form-section .github-bg button {
  background: #333;
}

.form-section .form-group {
  margin-bottom: 20px;
}

.form-section .extra-login {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
}

.form-section .extra-login::before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  content: "";
}

.form-section .extra-login>span {
  width: auto;
  float: none;
  display: inline-block;
  padding: 1px 20px;
  z-index: 1;
  position: relative;
  font-size: 14px;
  color: #535353;
  text-transform: capitalize;
  background: #fff;
}



.form-section .form-box {
  position: relative;
}

.form-section .form-control {
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  color: #535353;
  border-radius: 3px;
  border: 1px solid #dadadae8;
  background: #fff;
}

.form-section .form-box i {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 23px;
  color: #777575;
}

.form-section .form-check {
  margin-bottom: 0;
  padding-left: 25px;
  font-size: 16px;
  color: #535353;
}

.form-section .float-start {
  float: left !important;
}

.form-section .form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-section a.forgot-password {
  font-size: 16px;
  color: #535353;
}

.form-section .float-end {
  float: right !important;
}

.form-section .link-light {
  color: #f8f9fa;
}

.form-section .btn-primary {
  background: #211297;
}



.form-section .btn-lg {
  padding: 25px;
  line-height: 0;
}

.form-section .btn-theme {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  overflow: hidden;
  text-transform: capitalize;
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
}

.form-section .btn-theme:hover {
  color: #fff;
}


.profile .nav-item {
  border: 1px solid #ddd;
  border-bottom-width: 0;
}

.profile .nav-item:last-child {
  border-bottom-width: 1px;
}

.profile .nav-pills .nav-link {
  border-radius: 0;
}

.rr-header-toggle {
  margin-left: 7px;
  padding: 7px !important;
  font-size: 14px !important;
}

.card {
  border-color: #eeebeb;
}

.btn-download {
  position: absolute;
  right: 0;
}

.hero-section {
  /* background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 179, 255, .3)), url("../public/images/cover-photo.jpg"); */
  background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(32, 26, 65, 0.9)), url("../public/images/banner1.jpg");
  padding: 190px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.hero-section h1 {
  font-size: 50px;
}


.hero-section h1 span {
  font-size: 40px;
}

.course-list a {
  text-decoration: none;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 4px;
}

.btn-primary {
  background-color: rgb(99, 81, 206) !important;
  border-color: rgb(99, 81, 206) !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #1C2331 !important;
  border-color: #1C2331 !important;
  color: #fff !important;
}

@media(max-width: 767px) {
  .hero-section {
    padding: 100px 0;
  }

  .hero-section h1 {
    font-size: 28px;
  }

  .hero-section h1 span {
    font-size: 24px;
  }

  .form-section {
    padding: 30px 15px;
  }

  .form-section .form-inner {
    padding: 25px;
  }

  .myborder {
    border-bottom: 1px solid #ddd;
  }

  header.v2 .navbar-brand img {
    max-width: 130px;
  }
}